#play-contain {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .playlists {
    width: 100%;
    height: 135%;
    display: flex;

    .just-dance {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .playlist-contain {
      width: 60%;
      height: 100%;
      box-shadow: -126px 10px 30px white;

      input {
        position: absolute;
        left: 46.5%;
        width: 16%;
        height: 3%;
        border-radius: 5px;
        font-size: 20px;

        & focus {
          outline: none;
        }
      }
      .create {
        position: absolute;
        left: 50%;
        top: 14%;
        width: 9%;
        height: 5%;
        border-radius: 5px;
        font-size: 22px;
        text-shadow: 2px 2px #fec938;
        background: linear-gradient(to right, white, 60%, #fec938);
        font-weight: bold;
      }
      .play-play {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 20%;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 10%;
        a {
          text-decoration: none;
          color: black;
        }
        h2 {
          background: none;
          border: none;
          position: relative;
          bottom: 124%;
          left: 46%;
        }
        h2:hover {
          cursor: pointer;
          color: #fdb713;
        }
      }
    }
  }
}
