#play-contain {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .playlists {
    width: 100%;
    height: 100%;
    display: flex;

    div {
      width: 50%;
      height: 100%;
    }
  }
}
